{% extends '::base.html.twig' %}
{% block title %}Blog crawler{% endblock %}

{% block body -%}
    <h1>Résultat du crawler</h1>
    
    {% for url in urls %}
        {{ url }}<br/>
    {% endfor %}
{% endblock %}
