body{
    padding-top: 25px;
}

.blog_logo img{
    width: 150px;
}

.loading{
    background: url("../images/loading.gif") no-repeat left top;
    height: 40px;
}

#show_urls{
    height: 500px;
    overflow: auto;
}